/BoundedBufferCondition/build/
/BoundedBufferCondition/dist/
/SleepingBarber/nbproject/private/
/SleepingBarber/build/
/SleepingBarber/dist/
/PriorityBarber/nbproject/private/
/PriorityBarber/build/
/PriorityBarber/dist/
/JavaApplication17/nbproject/private/
/ParcoDivertimenti/nbproject/private/
/ParcoDivertimenti/dist/
/ParcoDivertimenti/build/
/FabbricaDiCioccolato/nbproject/private/
/FabbricaDiCioccolato/build/
/FabbricaDiCioccolato/dist/
/AttraversaPonte/nbproject/private/
/AttraversaPonte/build/
/AttraversaPonte/dist/
/Sistema MQTT/nbproject/private/
/Sistema MQTT/build/
/Sistema MQTT/dist/
/RaidProgram/nbproject/private/
/RaidProgram/build/
/RaidProgram/dist/
/ProgettoAutofficina/nbproject/private/
/ProgettoAutofficina/dist/
/ProgettoAutofficina/build/
/AutoDemolitore/nbproject/private/
/AutoDemolitore/build/
/AutoDemolitore/dist/
/ConcertoVasco/nbproject/private/
/ConcertoVasco/build/
/ConcertoVasco/dist/
/NegozioStampanti/nbproject/private/
