/BoundedBufferCondition/build/
/BoundedBufferCondition/dist/
/SleepingBarber/nbproject/private/
/SleepingBarber/build/
/SleepingBarber/dist/
/PriorityBarber/nbproject/private/
/PriorityBarber/build/
/PriorityBarber/dist/
